
<header>
    <span><a href="/">Mini Project</a></span>
    <nav>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/monuments">Monuments</a></li>
            
        </ul>
    </nav>
</header>
